<div class="w-[calc(100%-30px)] m-[0_15px_30px] lg:w-[calc(25%-30px)] lg:float-left md:w-[calc(33.33%-30px)] md:float-left
    sm:w-[calc(50%-30px)] sm:float-left col:w-[calc(50%-30px)] col:float-left group">
  <% if newspaper.cover.attached? %>
    <%= image_tag newspaper.cover, alt: newspaper.title, class: "w-full h-auto object-contain" %>
  <% else %>
    <div class="w-full aspect-[3/4] bg-gray-200 flex items-center justify-center">
      <span class="text-gray-400 text-xl"><i class="ti-book"></i></span>
    </div>
  <% end %>
  <div class="bg-[#f7f7f7] text-center p-[35px_15px] group">
    <h3 class="text-[20px] mb-[10px] font-bold md:text-[16px] group">
      <%= link_to newspaper.title, newspaper_path(newspaper), class: "text-[#0a272c] group-hover:text-[#3756f7] transition-all duration-300" %>
    </h3>
    <p class="text-gray-600 text-sm mb-3 line-clamp-2"><%= newspaper.description %></p>
    <% if newspaper.respond_to?(:price) %>
      <% if newspaper.respond_to?(:original_price) && newspaper.original_price.present? %>
        <del class="text-[#0a272c]">$<%= number_with_precision(newspaper.original_price, precision: 2) %></del>
        <span class="inline-block pl-[20px]">$<%= number_with_precision(newspaper.price, precision: 2) %></span>
      <% else %>
        <span>$<%= number_with_precision(newspaper.price, precision: 2) %></span>
      <% end %>
    <% end %>
    <div class="mt-[20px] group">
      <%= link_to newspaper_path(newspaper), class: "font-base-font text-[15px] font-semibold text-[#3756f7] p-[8px_20px]
          border-[2px] border-[#3756f7] inline-block rounded-[50px] sm:text-[12px]
          sm:p-[6px_18px] transition-all duration-300 group-hover:bg-[#3756f7]
          group-hover:text-white" do %>
        View Details
        <i class="ti-arrow-right text-[15px] inline-block pl-[5px]"></i>
      <% end %>
    </div>
  </div>
</div>
