<!DOCTYPE html>
<html data-theme="dailynews">
  <head>
    <title><%= content_for(:title) || "Dailynews" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= asset_path('dailynew-favicon.jpg') %>" type="image/jpg">
    <link rel="icon" href="<%= asset_path('dailynew-favicon.jpg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= asset_path('dailynew-favicon.jpg') %>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%# Load ALL flipbook files as traditional scripts (not ES modules) %>
    <%# The flipbook library and dependencies use UMD/global pattern %>
    <%= javascript_include_tag "flipbook/build/js/libs/pdf.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "flipbook/build/js/libs/pdf.worker.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "flipbook/build/js/libs/three.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "flipbook/build/js/flipbook.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "flipbook/build/js/flipbook.pdfservice.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "flipbook/build/js/flipbook.webgl.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "flipbook/build/js/flipbook.book3.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "https://cdn.omise.co/omise.js", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
  </body>
</html>
